.Hero
{
    display: flex;
    justify-content: center;
}
.Hero .left
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
}
.Hero .right
{
    width: 20%;
}
.Hero .right img
{
    width: 100%;
}